[2020-09-29 11:49] mgreiler opened #1 "Improve transcript of Episode 27 with Emma Bostian"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on parts of it.
- Ever little help to make the podcast mor

[2020-09-29 11:50] mgreiler opened #2 "Improve transcipt of Episode 12 with Courtland Allen"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on parts of it.
- Ever little help to make the podcast mor

[2020-09-29 11:51] mgreiler opened #3 "Improve transcript of Episode 13 with Dan Abramov"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on parts of it.
- Every little help to make the podcast mo

[2020-09-29 11:53] mgreiler opened #4 "Improve transcript of Episode 14 with Troy Hunt"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on parts of it.
- Ever little help to make the podcast mor

[2020-09-29 11:54] mgreiler opened #5 "Improve transcript of Episode 15 with Peter Pezaris"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on parts of it.
- Ever little help to make the podcast mor

[2020-09-30 00:17] Parasgupta44 commented on #3
Working on this...will do a PR by EOD.

[2020-09-30 06:32] mgreiler commented on #3
Amazing! Thank you.

[2020-09-30 13:44] taylorcjohnson commented on #1
Hi @mgreiler - I can start working on this today and let you know if I run into any problems!

[2020-09-30 14:22] mgreiler commented on #1
That's fantastic! Thank you @taylorcjohnson

[2020-09-30 14:45] florenciasilva commented on #1
@taylorcjohnson Hi, I was making some progress on this one as well, it's all right now in my fork if you want to part from that and avoid double work!

Mine is still missing some punctuation and text style in general.

[2020-09-30 14:47] florenciasilva commented on #5
I would like to work on this one as well!

[2020-09-30 15:20] mgreiler commented on #5
Hey @florenciasilva, that's fantastic. Thanks a lot!

[2020-09-30 15:55] Hobbesball commented on #2
hiya, I'm working on this atm, will create a PR tomorrow :)

[2020-09-30 15:56] Hobbesball commented on #4
Working on this one as well ^_^

[2020-09-30 16:17] taylorcjohnson commented on #1
@florenciasilva I can just as easily pick up another issue - don't want to get in your way! I can help if needed; just let me know!

[2020-09-30 17:09] mgreiler opened #6 "Improve transcript of Episode 24: Kent C. Dodds"
Episode's name: Why you should double down on integration tests with Kent C. Dodds

Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcrip

[2020-09-30 17:11] mgreiler commented on #1
Glad that you all are helping! This is amazing. @taylorcjohnson, I've just added another transcript and will add a few others over the next couple of hours. If you want to work on one of them, it would be amazing. Here is the first new one: https://github.com/mgreiler/se-unlocked/issues/6

[2020-09-30 17:11] mgreiler commented on #2
Hey @Hobbesball! That's so great. Thank you!

[2020-09-30 17:53] taylorcjohnson commented on #6
I'll start this ticket this evening @mgreiler - thanks for mentioning it (and thanks for letting us help with the transcripts - I know how useful these are)!

[2020-09-30 17:59] mgreiler opened #7 "Improve transcript of Episode 26: Chris Biscardi"
Episode's name: Software success through community building

Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only wo

[2020-09-30 18:00] mgreiler commented on #6
Awesome. I've added another one. Once the kids are in bed, I'll add more transcripts.

Yes, they are so important! Let's make the web more accessible and welcoming. Thank you so much for helping!

[2020-09-30 18:57] taylorcjohnson commented on #7
I can start this one as well. I really enjoy hearing Chris talk about Party Corgi community!

[2020-09-30 19:16] mgreiler opened #9 "Improve transcript of Episode 25: Michaela"
Episode's name:  From art school to Microsoft Research

Please help improve the transcript for this episode.

You can either listen to the episode and improve the transcript based on what you hear.
Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
You do not have to improve the complete transcript. You can also only work on parts

[2020-09-30 19:45] mgreiler opened #10 "Improve transcript of Episode 22: Jigyasa Grover"
Episode's name: Becoming a Machine Learning Engineer at Twitter
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only

[2020-09-30 22:14] jebitok-dev commented on #10
I would like to contribute to this seems to be special way of learning through listening and reading the interview.

[2020-10-01 08:50] mgreiler commented on #10
Sounds great! Thank you so much @jebitok-dev!

[2020-10-01 08:50] mgreiler commented on #7
Party Corgi for the win!

[2020-10-01 18:24] mgreiler commented on #1
Thank you for the amazing work, @florenciasilva! The new and improved transcript is online: https://www.software-engineering-unlocked.com/job-at-spotify/

I mention you right at the transcript and link to your GitHub page. If you do not want this (e.g. privacy reasons) I can of course delete it.

Thanks again for your work.

[2020-10-01 18:24] #1 closed

[2020-10-01 21:59] Hobbesball commented on #2
Listened through the (fascinating!) podcast and made corrections to the transcript, cfr. https://github.com/mgreiler/se-unlocked/pull/13

[2020-10-02 04:18] Carolis commented on #9
@mgreiler Can I help with this one?

[2020-10-02 05:30] mgreiler commented on #9
Hi @Carolis, sure! Thanks for your help!

[2020-10-02 05:50] mgreiler opened #15 "Improve transcript Episode 23: Angela Andrews"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2020-10-02 06:46] mgreiler opened #16 "Improve transcript Episode 11: Laurie Barth"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2020-10-03 03:33] CF12 commented on #15
Hey, I'd like to take this one -- will try to get in a PR by tomorrow :)

[2020-10-03 06:44] mgreiler commented on #15
Hey @CF12, that sounds great! Thank you!

[2020-10-03 06:51] #6 closed

[2020-10-03 06:59] mgreiler commented on #2
Wonderful! Thank you so much.

[2020-10-03 06:59] #2 closed

[2020-10-03 07:07] mgreiler opened #19 "Improve transcript Episode 10: Suz Hinton"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2020-10-03 07:08] #3 closed

[2020-10-03 07:08] #5 closed

[2020-10-03 08:46] bindu-r02 commented on #16
@mgreiler - I will work on this, Can you assign it to me.

[2020-10-03 08:57] mgreiler opened #20 "Improve transcript Episode 9: Charlie Gerard"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2020-10-03 15:13] #16 closed

[2020-10-04 13:16] mgreiler commented on #15
Great work. Thank you.

[2020-10-04 13:16] #15 closed

[2020-10-04 20:19] BenDMyers commented on #20
I can take a stab at it!

[2020-10-04 20:36] mgreiler commented on #20
Thank you @BenDMyers!

[2020-10-04 20:55] mgreiler opened #25 "Improve transcript Episode 8: Allison McMillan"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2020-10-04 20:56] mgreiler opened #26 "Improve transcript Episode 7: Charity Majors"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2020-10-04 20:56] mgreiler opened #27 "Improve transcript Episode 6: Derrick Stolee"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2020-10-05 05:30] Frankie-B commented on #27
Hey, Michaela, I will work on the transcript for ep 6

[2020-10-05 08:04] #7 closed

[2020-10-05 08:08] mgreiler commented on #27
Hi @Frankie-B, that's great! Thank you so much.

[2020-10-05 08:10] mgreiler commented on #27
BTW, the transcript has an intentional ~80-chars  max line wrap (i.e., a new line starts after max 80 chars).
Please try to keep it in that format. Thank you!

[2020-10-05 10:44] jebitok-dev commented on #19
I would like to take up the issue in case a new contributor doesn't come by

[2020-10-05 11:36] mgreiler commented on #19
@jebitok-dev sounds great!

[2020-10-05 11:38] #9 closed

[2020-10-05 11:39] mgreiler opened #31 "Improve transcript of Episode 25: Michaela Greiler"
This episode has still quite a few errors. It would be great if you could helo improve the transcript it.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on ha

[2020-10-05 12:54] amycruz97 commented on #25
can i take up this for hacktoberfest

[2020-10-05 14:54] mgreiler commented on #25
Sure! Sounds great!

[2020-10-05 16:51] mgreiler opened #32 "Improve transcript of Episode 20 with Tudor Girba"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2020-10-05 16:52] mgreiler opened #33 "Improve transcript Episode 17 with Trisha Gee"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2020-10-06 03:14] amycruz97 commented on #25
i have made a pull request and improved the transcripts. pls review it.

[2020-10-06 03:19] amycruz97 commented on #31
i will like help out with this

[2020-10-06 05:00] a-r-1 commented on #31
I'd love to help too :D

[2020-10-06 05:02] a-r-1 commented on #33
Can I please help out with this :D

[2020-10-06 05:12] a-r-1 opened #35 "Improve transcript Episode 27 with Emma Bostian"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2020-10-06 09:29] mgreiler commented on #31
Hey @amycruz97, that would be amazing! Thank you!

[2020-10-06 16:44] mgreiler opened #37 "Improve second half of transcript of Episode 14 with Troy Hunt"
Please help improve the transcript for this episode. The transcript has been previously improved by @Hobbesball up to minute ~30.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You

[2020-10-06 16:45] mgreiler commented on #4
Closing because of PR https://github.com/mgreiler/se-unlocked/pull/17 and new issue https://github.com/mgreiler/se-unlocked/issues/37

[2020-10-06 16:45] #4 closed

[2020-10-06 16:52] AarambhVerma commented on #37
Hey @mgreiler, I would love to work on this one!
Can you please assign this project to me!
And can you please guide me in accessing the audio files?

[2020-10-06 16:57] mgreiler commented on #37
Hey @AarambhVerma, sounds great. I've assigned you. You can find the podcast - and in particular this episode here: https://www.software-engineering-unlocked.com/developer-security-troy-hunt/

[2020-10-06 16:58] AarambhVerma commented on #37
Alright, thanks a lot!
@mgreiler

[2020-10-06 17:04] bibliofilo commented on #33
Hi, could I help with improving the episode transcript?

It'd be for [this one](https://www.software-engineering-unlocked.com/episode-17-why-we-hate-to-read-code-trisha-gee/), right?

[2020-10-06 17:10] mgreiler commented on #33
Hi @bibliofilo, sure! Thanks for your help!

[2020-10-07 01:50] novitald commented on #26
Hello, can I get assign for this one? Thank you!

[2020-10-07 02:33] bibliofilo commented on #33
Okay, it took a while but I put up a Pull request for review. #40

Off topic, it was a very nice podcast to hear, and it made me feel better about just starting out. =)

[2020-10-07 03:49] jessicasalbert commented on #35
I'd be happy to hop on and review it again if you wouldn't mind passing it to me. Thanks!

[2020-10-07 06:43] mgreiler commented on #33
Thank you, and great work!

[2020-10-07 06:43] #33 closed

[2020-10-07 06:47] mgreiler commented on #37
Good work.

[2020-10-07 06:47] #37 closed

[2020-10-07 06:54] mgreiler commented on #35
Hi Jessica,
sure. The only problem is I cannot access the ticket linked here. So, I
will create a new one for the episode with Emma, and please feel free to
comment on it.
I'll assign it to you.
Michaela

On Wed, Oct 7, 2020 at 5:49 AM Jessica Salbert <notifications@github.com>
wrote:

[2020-10-07 06:54] mgreiler opened #41 "Improve transcript Episode 27 with Emma Bostian"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2020-10-07 06:55] mgreiler commented on #26
Sure! Thanks for your help.

[2020-10-07 07:16] #35 closed, assigned to nobody

[2020-10-07 12:58] jessicasalbert commented on #41
Hi again! Can you assign it to me here? :)

[2020-10-07 13:36] mgreiler opened #43 "Improve transcript episode 19 with Cher"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2020-10-07 19:31] a-r-1 commented on #32
Can I work on this issue please?

[2020-10-07 19:33] mgreiler commented on #32
Sure! Thanks for your help!

[2020-10-07 21:18] amycruz97 commented on #31
i have made a pull request

[2020-10-07 22:57] jessicasalbert opened #46 "Add guidelines for improving transcripts"
It would be helpful to have a file with general guidelines regarding how to edit the transcripts - how closely should the audio be followed? Should filler words like "um"/"like" be included? Stutters or unfinished thoughts? Etc.

[2020-10-07 22:57] jessicasalbert commented on #46
I'd be happy to work on this if it's something that you'd find useful :)

[2020-10-08 07:15] mgreiler commented on #46
Hi @jessicasalbert. I think this is a fantastic idea.
I'd love the transcripts to be as close as possible to the actual audio so that it gives a similar experience to the reader as to the listener.
Maybe there are some research insights and best practices for how to best provide transcripts, especially from an accessibility perspective?

[2020-10-08 09:57] mgreiler commented on #46
A quick web search revealed this:
"Arguably the most important accessibility consideration for podcasts is to provide a text transcript of all the audio elements. This means more than just the spoken parts — include any background noise, sound effects, and any other relevant components that accompany the spoken word." (source: https://www.boia.org/blog/top-5-ways-to-make-podcasts-accessible#:~:tex

[2020-10-08 10:29] mgreiler opened #47 "Improve transcript episode 18 with Cher"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2020-10-08 10:29] mgreiler opened #48 "Improve Episode 21 with Amir"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2020-10-08 10:38] Shweta200126 commented on #48
@mgreiler I would like to help!
Can I take this?

[2020-10-08 10:41] mgreiler commented on #48
Hey @Shweta200126! Sounds fantastic. Go ahead!

[2020-10-08 11:57] #41 closed

[2020-10-08 17:02] ry-v1 commented on #47
I can take up this.

[2020-10-08 20:14] mgreiler commented on #47
Wonderful, @ry-v1! Thanks for your help!

[2020-10-08 23:24] amycruz97 commented on #31
i made a new pull request

[2020-10-09 07:42] #31 closed

[2020-10-09 10:04] mgreiler opened #51 "Improve Transcript Episode 5 with Alper"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2020-10-09 10:05] #10 closed

[2020-10-09 15:58] ry-v1 commented on #47
Submitted pull request #53.

Episode is really inspiring. Thanks :)

[2020-10-09 16:18] #47 closed

[2020-10-09 17:09] mgreiler opened #55 "Improve transcript 04 with Sandeep Panda"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2020-10-09 17:17] #46 closed

[2020-10-10 03:47] Ludim commented on #43
Hello, I would like to contribute with this issue. I am going to work on the transcript.

[2020-10-10 05:48] elshaek commented on #51
Hi, can I take this?

[2020-10-10 09:01] mgreiler commented on #51
Yes, for sure! Thank you, @elshaek!

[2020-10-10 09:01] mgreiler commented on #43
Wonderful, @Ludim!

[2020-10-10 12:12] elshaek commented on #51
Hi @mgreiler, I've reviewed the first 6 minutes of the transcript, and wanted to check in and see if it's what you're looking for before continuing with the review. Please let me know if there is anything I can improve on.

[2020-10-10 17:55] mgreiler commented on #51
Great work! I've merged the first part. Please feel free to open another one if you have time to work on the transcript further.

[2020-10-10 18:00] #48 closed

[2020-10-10 20:06] #20 closed

[2020-10-10 20:10] mgreiler opened #60 "Improve transcript Episode 03 Leif Singer"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2020-10-11 01:29] rileyhgrant commented on #60
Hi! @mgreiler I'd love to work on this, can you assign it to me? Thanks :)

[2020-10-11 08:13] mgreiler commented on #60
Great, @rileyhgrant! I've assigned you.

[2020-10-11 16:55] rileyhgrant commented on #55
Hi again @mgreiler may I be assigned this? I just worked on editing another transcription and made a pull request, and found the podcast to be quite interesting and valuable as someone hoping to get into tech!

I would love to list to and edit another transcript if possible :)

[2020-10-11 19:10] mgreiler commented on #55
For sure, @rileyhgrant! Thanks for working on it.

[2020-10-12 07:31] #60 closed

[2020-10-12 08:19] mgreiler opened #63 "Improve transcript 02 with Cassidy Williams"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2020-10-12 15:01] Frankie-B commented on #27
Okay, will do.

[2020-10-12 17:04] rileyhgrant opened #66 "Name Discrepancy - Ep03, Ep04"
#### There appears to be a discrepancy in naming of the transcripts and naming of the podcasts.

On the podcast site:
- Episode 03 is Sandeep Panda
- Episode 04 is Leif Singer

In this repository
- Episode 03 is Leif Singer
- Episode 04 is Sandeep Panda

It seems as though the transcripts should be edited to accurately reflect the episodes on the podcast website?

[2020-10-12 17:05] rileyhgrant commented on #66
Also - if these indeed should be changed, could this be assigned to me? :).

[2020-10-12 17:10] rileyhgrant commented on #63
Hiya again, I just submitted a potential issue with some namings - if I'm allowed to take on multiple issues at once, may I be assigned these one?

Also - on the website the Cassidy Williams episode is Episode 01. Is it supposed to be in this way on the transcripts too? This relates to the issue I posted.

Thanks!

[2020-10-12 18:41] mgreiler commented on #66
Hey, great catch! Yes, please change them so they are in line with the website.

[2020-10-12 18:43] mgreiler commented on #63
Hi again. Do you want to also improve the transcript of Cassidy? If so, I'm happy to assign you.

[2020-10-12 19:39] rileyhgrant commented on #63
Yes that would be great! I'd love to be assigned editing of this transcript :)

[2020-10-13 15:47] mgreiler opened #69 "Listen to an episode and check one of the transcripts for errors"
Please help improve one of the transcripts for this podcast.

You can **pick any episode that you like that does not have an open and assigned ticket.**
- Before starting to work on a transcript, please open an issue with the Episode number, so that I can assign you and we do not have two people working on the same issue (merge conflicts, duplication of work, etc.)
- To improve the transcript, ple

[2020-10-13 16:00] norakrantz commented on #69
Are there any episodes that still need transcription help? Happy to help!

[2020-10-13 16:53] mgreiler commented on #69
Hi, yes. You can really pick any you like. One that I saw that at least the formatting isn't that right is https://github.com/mgreiler/se-unlocked/blob/master/Transcripts/EP_21_Amir_Slihefendic.md.

Do you want to give it a look?

[2020-10-13 18:11] kalzen15 commented on #69
Hey @mgreiler!!!
I would love to work on this and transcript one of them!!

[2020-10-13 20:14] mgreiler commented on #69
Hey @kalzen15, that would be wonderful. I just published a new episode. So, if you want to deep dive into a brand new episode, 29 could be yours! https://www.software-engineering-unlocked.com/design-systems-github/
Let me know if you want to work on this. Thanks.

[2020-10-14 06:22] kalzen15 commented on #69
@mgreiler I would love to work on it !!! Should I create an issue to get started with it??

[2020-10-14 06:56] mgreiler commented on #69
Yes, please!

[2020-10-14 09:42] kalzen15 opened #70 "Transcript for Episode 28"
Work on the transcript for the new episode (Episode 29)

[2020-10-14 09:45] kalzen15 commented on #69
@mgreiler I added the issue #70. Tell me if i can get started and where to find the episode.

[2020-10-14 09:48] mgreiler commented on #70
Yes. Sure.
Here is the episode: https://www.software-engineering-unlocked.com/design-systems-github/
You find the transcript here:  https://github.com/mgreiler/se-unlocked/blob/master/Transcripts/EP_28_Diana_Mounter.md

BTW, the transcript has an intentional ~80-chars max line wrap (i.e., a new line starts after max 80 chars).
Please try to keep it in that format. Thank you!

[2020-10-14 09:48] mgreiler commented on #70
It's episode 28 ;-)

[2020-10-14 13:55] norakrantz opened #71 "Improve transcript episode 21 with Amir Slihefendic"
Fix formatting (80-char lines) and any typos.

[2020-10-14 14:02] mgreiler commented on #71
Thanks for opening the issue.
Please keep the 80 chars wrap. The formatting mainly is about entering another line break when there is a change in speaker.

So that the text reads nicely in the visual representation. The single line breaks (as used for the 80 chars) will not show up in the final appearance.

[2020-10-14 17:00] norakrantz commented on #71
Sounds good 👍

[2020-10-14 18:01] elshaek commented on #51
Hi @mgreiler I've reviewed minutes 6 to 12 of the transcript.

[2020-10-14 19:29] mgreiler commented on #71
Looks great. Thank you!

[2020-10-14 19:29] #71 closed

[2020-10-15 14:01] mgreiler opened #75 "Improve Transcrip 02 with Scott Hanselman"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2020-10-16 09:54] jebitok-dev commented on #75
I would like to contribute to this

[2020-10-16 12:07] mgreiler commented on #75
Hi @jebitok-dev! That would be great!

[2020-10-17 07:31] #19 closed

[2020-10-17 07:32] mgreiler opened #77 "Improve Transcript Episode 10 Suz Hinton"
Please help improve the transcript for this episode.

You can either listen to the episode and improve the transcript based on what you hear.
Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
You do not have to improve the complete transcript. You can also only work on half of it.
Every little help to make the podcast more access

[2020-10-17 07:33] mgreiler commented on #63
Thank you for your help!

[2020-10-17 07:33] #63 closed

[2020-10-17 07:34] mgreiler commented on #55
Thank you!

[2020-10-17 07:34] #55 closed

[2020-10-17 07:37] mgreiler commented on #25
Thank you!

[2020-10-17 07:37] #25 closed

[2020-10-17 13:05] amycruz97 commented on #77
can i work on this

[2020-10-17 16:30] mgreiler commented on #77
Yes, for sure! Thank you!

[2020-10-18 01:19] amycruz97 commented on #77
https://github.com/mgreiler/se-unlocked/pull/78 i have raised a pull request

[2020-10-19 04:28] Ludim commented on #43
Hi, @mgreiler I have opened a pull request at https://github.com/mgreiler/se-unlocked/pull/79
I hope this is helpful

[2020-10-19 10:49] mgreiler commented on #43
Thank you!

[2020-10-19 10:49] #43 closed

[2020-10-19 16:04] Ludim opened #80 "Improve transcript episode 28 with Diana"
Hello, I would like to contribute with this transcript. Is it possible to work on the transcript?

[2020-10-19 16:57] mgreiler commented on #80
Hi @Ludim! Yes! Wonderful. Thank you.

[2020-10-19 16:58] #75 closed

[2020-10-19 16:59] #77 closed

[2020-10-22 09:30] mgreiler opened #82 "Listen to an episode and check one of the transcripts for errors"
Please help improve one of the transcripts for this podcast.

**You can pick any episode that you like that does not have an open and assigned ticket.**

- Before starting to work on a transcript, please open an issue with the Episode number, so that I can assign you and we do not have two people working on the same issue (merge conflicts, duplication of work, etc.)
- To improve the transcript, pl

[2020-10-22 09:31] #69 closed

[2020-10-22 18:05] RedLinus opened #83 "Improve Transcript Episode 26 with Chris Biscardi"
Hi! I have found some errors in the transcript, so I'm working on fixing them. 🙂

[2020-10-22 22:35] Frankie-B commented on #27
Hey @mgreiler, sorry for the late transcript, I was out of commission but back :)

[2020-10-23 07:44] mgreiler commented on #83
Wonderful! Thank you.

[2020-10-23 07:44] mgreiler commented on #27
Welcome back. No worries!

[2020-10-23 07:48] RedLinus commented on #83
If you could add the hacktoberfest labels would be lovely 😄

[2020-10-24 19:38] mgreiler commented on #83
Thank you!

[2020-10-24 19:38] #83 closed

[2020-10-27 09:28] mgreiler opened #85 "Improve transcript of Epsiode 29 with Kent C. Dodds"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2020-10-27 09:37] tiana30 commented on #85
hello i want to hep with this project can i get assigned to this project.

[2020-10-27 09:41] mgreiler commented on #85
Hi @tiana30! Sure! Welcome on board!

[2020-10-27 09:45] tiana30 commented on #85
thank you, i will try to finish it quickly

[2020-10-28 07:47] staysee commented on #82
can i get assigned this issue for hacktoberfest please?

[2020-10-28 07:49] staysee commented on #82
Hi are there any episodes you still need help with?

[2020-10-28 07:51] mgreiler commented on #82
Hi, yes. Episode 25 for example can still be improved a lot.

[2020-10-28 07:52] mgreiler commented on #26
Hi @novitald! Did you manage to work on the transcript? Otherwise, I'd like to reassign it. Please let me know. Thank you.

[2020-10-28 07:53] mgreiler commented on #32
Hi @a-r-1! Did you manage to work on the transcript? Otherwise, I'd like to reassign it. Please let me know. Thank you.

[2020-10-28 07:54] mgreiler commented on #51
Hi @elshaek, are you still interested in reviewing more of the transcript, or should I open the issue up for someone else?
Thanks for your work so far. Fantastic.
Please let me know.

[2020-10-28 08:08] mgreiler commented on #85
Thank you for the quick turnaround and the great work. It's already live, and I added a link to your GitHub profile. If you rather not have me mention you for whatever reasons (e.g., privacy), please let me know!

[2020-10-28 08:08] #85 closed

[2020-10-28 08:09] mgreiler commented on #85
Ah, here is the link to the live version: https://www.software-engineering-unlocked.com/no-mocks-allowed/

[2020-10-28 08:30] elshaek commented on #51
Hi @mgreiler please open up the issue for someone else. I'll try to contribute more in the future when possible, and if not for issue maybe for others that are still open. Thanks :)

[2020-10-28 14:49] carbarsoft opened #87 "Improve transcript for Episode 22"
I'd like to help by improving the transcript for Episode 22 with Jigyasa Grover.

[2020-10-28 16:14] mgreiler commented on #87
Sounds great! Thank you!

[2020-10-28 21:55] a-r-1 commented on #32
Hi, I've sorta lost track - I thought another contributor had made more progress...! Yes, feel free to re-assign it. Hope that's okay! Thanks.

[2020-10-28 23:32] carbarsoft commented on #87
Thanks Michaela, happy to help!

And glad to discover that you didn't actually swear at Jigyasa at 11:21 😆

[2020-10-28 23:34] staysee opened #89 "Improve Transcript for Episode #25"
I would like to help by improving the transcript for Episode 25. Please assign me to this issue!

[2020-10-28 23:55] novitald commented on #26
Yes I'm still working on it, probably going to do PR tomorrow

[2020-10-30 10:34] #89 closed

[2020-10-30 10:36] mgreiler commented on #87
Haha! Thanks for making the jibberish to something readable!

[2020-10-30 10:36] #87 closed

[2020-10-30 10:38] mgreiler opened #91 "Improve transcript of Episode 20 with Tudor Girba"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2020-10-30 10:38] #32 closed

[2020-10-30 10:38] mgreiler commented on #51
Okay. Thank you so much for your contributionn!

[2020-10-30 10:38] #51 closed

[2020-10-30 10:39] mgreiler opened #92 "Improve Transcript Episode 5 with Alper"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2020-10-30 10:39] #82 closed

[2020-10-30 10:40] mgreiler opened #93 "Listen to an episode and check one of the transcripts for errors"
Please help improve one of the transcripts for this podcast.

**You can pick any episode that you like that does not have an open and assigned ticket.**

- Before starting to work on a transcript, please open an issue with the Episode number, so that I can assign you and we do not have two people working on the same issue (merge conflicts, duplication of work, etc.)
- To improve the transcript, pl

[2020-10-30 19:40] mgreiler commented on #91
Sure. Welcome on board!

[2020-10-30 19:49] mgreiler opened #95 "Improve transcript Episode 7: Charity Majors"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2020-10-30 19:50] #26 closed

[2020-10-30 20:20] jebitok-dev commented on #95
I'm interested in contributing to this

[2020-10-31 19:01] mgreiler commented on #91
Thank you so much. Great work.

[2020-10-31 19:01] #91 closed

[2020-11-02 13:44] jebitok-dev commented on #92
I'm interested in contributing to this

[2020-11-02 15:47] mgreiler commented on #92
Sure. Thank you so much!

[2020-11-02 15:48] #95 closed

[2020-11-07 21:11] #92 closed

[2020-11-08 17:16] mgreiler opened #100 "Improve Transcript Episode 30 - Ben Lesh"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2020-11-10 15:32] jebitok-dev commented on #100
I'm interested in contributing to this

[2020-12-08 08:08] mgreiler opened #101 "Improve transcript Episode 32 - Serverless with Nader Dabit"
Please help improve the transcript for this episode.

-
- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast m

[2020-12-09 10:21] jack99999 commented on #101
i'll have a go at some of this

[2020-12-09 10:34] mgreiler commented on #101
Yeah! Sounds great! Looking forward to it.

[2021-01-19 10:24] mgreiler opened #106 "Improve Episode 34 with Katie Moussouris"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2021-02-02 09:57] mgreiler opened #107 "Improve Episode 35: How Programmers Think and Learn"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2021-10-01 18:17] mgreiler opened #108 "Improve Transcript: Episode 35 with Matt Biilmann Bootstrapping Netlify to a multi-million-dollar company"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2021-10-01 18:19] mgreiler opened #109 "Improve Transcript Episode 41 with Liran Haimovitch: The Secret To High-Quality Code"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2021-10-01 18:21] mgreiler opened #110 "Improve Transcript Episode 40 with Max Stoiber: Getting ready to build a billion-dollar business"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2021-10-01 18:22] #100 closed

[2021-10-01 18:22] #80 closed

[2021-10-01 18:22] #70 closed

[2021-10-01 18:23] #66 closed

[2021-10-01 18:23] #27 closed

[2021-10-02 12:27] metamoni commented on #107
Hi,

I'd like to work on this one! :)

[2021-10-03 08:20] bindu-r02 commented on #107
Hello @mgreiler - I am working on this.

[2021-10-04 05:50] mgreiler commented on #107
Awesome work! Thank you!

[2021-10-04 05:50] #107 closed

[2021-10-04 05:51] mgreiler opened #112 "Improve transcript Episode 32 - Serverless with Nader Dabit"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2021-10-04 05:51] #101 closed

[2021-10-06 09:58] mgreiler commented on #112
Yeah, awesome!

[2021-10-07 02:50] AmasiaNalbandian opened #113 "Improve Episode 39: From designer to web developer"
Go over episode 39 and listen carefully to confirm the transcript is correct. Create any corrections where necessary.

[2021-10-08 00:30] raygervais commented on #109
Hey @mgreiler, I'd love to help! Can you assign this one to me and I'll have a gander this weekend?

Happy Holidays!

[2021-10-09 21:08] bibliofilo commented on #106
Hi, I can tackle this episode, please assign it to me. =)

[2021-10-10 08:18] mgreiler commented on #106
Hi @bibliofilo, sure! Thanks for you contribution!

[2021-10-10 08:26] #109 closed

[2021-10-16 07:25] Shweta200126 commented on #110
Hey, I would like to work on this. Can you please assign it to me?

[2021-10-19 09:41] mgreiler commented on #110
Hi @Shweta200126, that would be awesome. I've assigned you!

[2021-10-19 09:43] #113 closed

[2021-10-24 14:06] mgreiler opened #118 "Improve Episode 36: Natalie Davis"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2021-10-24 14:08] mgreiler opened #119 "Improve Episode 48 with Holly Cummins"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2021-10-24 14:10] mgreiler opened #120 "Improve Episode 41 Liran Haimovitch"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2021-10-24 14:15] mgreiler opened #121 "Improve Transcript Episode 40 with Max Stoiber"
This transcript has been improved until line 362. Please give the rest of the transcript some love.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of

[2021-10-30 09:54] namangirdhar16 commented on #119
@mgreiler i would like to work on this issue, please assign this to me.

[2021-10-30 10:58] adiati98 commented on #118
Hi @mgreiler,
I would love to take this 😄

[2021-10-30 12:25] mgreiler commented on #119
Wonderful! I've assigned it to you.

[2021-10-30 12:25] mgreiler commented on #118
Great! I've assigned you!

[2021-10-30 12:29] #121 closed

[2021-11-01 06:04] #118 closed

[2021-11-26 18:07] Shweta200126 commented on #119
Hey, @mgreiler can you assign me for working on improving this after line 84.

[2021-11-26 19:55] mgreiler commented on #119
Sure! Thank you for the help!

[2021-12-15 16:51] #119 closed

[2021-12-15 16:52] mgreiler opened #129 "Improve Episode 47 with Kim Scott and Trier Bryant from Just Work"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2022-01-15 19:28] mgreiler opened #130 "Improve Transcript 52 - Engineering Values"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2022-01-15 19:30] mgreiler opened #131 "Improve Episode 51 - Measure Productivity with the SPACE framework with Dr. Storey"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2022-01-20 10:36] mgreiler commented on #130
Sure! That's wonderful. Thank you!

[2022-01-20 11:14] mgreiler opened #132 "Improve Episode 53 - How to write tests that find busg with Mauricio Aniche"
Please help improve the transcript for this episode.

1. You can either listen to the episode and improve the transcript based on what you hear.
2. Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
3. You do not have to improve the complete transcript. You can also only work on half of it.
4. Every little help to make the podcast

[2022-01-25 19:11] #130 closed

[2022-01-26 18:56] mgreiler opened #135 "Episode 44 - Patrick Wagstrom"
Please help improve the transcript for this episode.

1. You can either listen to the episode and improve the transcript based on what you hear.
2. Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
3. You do not have to improve the complete transcript. You can also only work on half of it.
4. Every little help to make the podcast

[2022-01-26 18:58] mgreiler opened #136 "Improve Episode 42: Karl Huges"
Please help improve the transcript for this episode.

1. You can either listen to the episode and improve the transcript based on what you hear.
2. Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
3. You do not have to improve the complete transcript. You can also only work on half of it.
4. Every little help to make the podcast

[2022-01-26 19:04] mgreiler opened #137 "Improve Episode 38: Michael Feather"
Please help improve the transcript for this episode.

1. You can either listen to the episode and improve the transcript based on what you hear.
2. Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
3. You do not have to improve the complete transcript. You can also only work on half of it.
4. Every little help to make the podcast

[2022-01-26 19:07] mgreiler opened #138 "Improve episode 37: Jenn Creigthon"
Please help improve the transcript for this episode.

1. You can either listen to the episode and improve the transcript based on what you hear.
2. Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
3. You do not have to improve the complete transcript. You can also only work on half of it.
4. Every little help to make the podcast

[2022-01-26 19:12] mgreiler opened #139 "Improve Transcript Episode 32 with Nader Dabit Ready"
Please help improve the transcript for this episode.

1. You can either listen to the episode and improve the transcript based on what you hear.
2. Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
3. You do not have to improve the complete transcript. You can also only work on half of it.
4. Every little help to make the podcast

[2022-01-26 19:14] mgreiler opened #140 "Improve Transcript Episode 31 with Tomasz Łakomy"
Please help improve the transcript for this episode.

1. You can either listen to the episode and improve the transcript based on what you hear.
2. Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
3. You do not have to improve the complete transcript. You can also only work on half of it.
4. Every little help to make the podcast

[2022-02-03 16:18] Faruqt commented on #132
I'll be working on this issue

[2022-02-03 19:04] elsie-dev commented on #140
Hello, would love to contribute to this

[2022-02-04 06:51] mgreiler commented on #140
Wonderful! Thank you.

[2022-02-04 06:52] mgreiler commented on #132
Great!

[2022-02-07 19:12] elsie-dev commented on #140
Hello l made some adjustments on the punctuation and grammatical errors. Could you kindly check if it makes sense or need more adjustments whenever you can. Would love to receive a feedback from you.

[2022-02-15 14:45] mgreiler opened #143 "Improve transcript 55 Alvaro Trigo - how to make money with open source"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2022-02-21 14:48] lordsonfernando commented on #143
Hi,i would like to contribute

[2022-02-21 15:19] mgreiler commented on #143
Wonderful!

[2022-02-22 14:17] elsie-dev commented on #129
Hello, can l edit this transcript if you don't mind?

[2022-10-03 17:02] mgreiler opened #146 "Improve transcript 65 Harshit Chitalia"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2022-10-03 17:04] mgreiler opened #147 "Improve transcript Transcript EP 64 Nicolas Dular"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2022-10-03 17:05] mgreiler opened #148 "Improve Transcript EP 63 Jess Rose"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2022-10-03 17:13] Anshumansengar commented on #147
Hey, I would love to help with it.

[2022-10-03 17:20] mgreiler commented on #147
Sounds great! I've assigned you!

[2022-10-03 17:23] taylorcjohnson commented on #148
@mgreiler I'd be happy to take this one

[2022-10-03 17:23] taylorcjohnson commented on #137
@mgreiler I'd be happy to take this one as well.

[2022-10-03 17:24] taylorcjohnson commented on #138
@mgreiler I could also take this one if needed.

[2022-10-03 17:25] mgreiler commented on #148
Awesome! I've assigned you!

[2022-10-03 17:26] mgreiler opened #149 "Improve transcript EP 56 Daniel Vassallo"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2022-10-03 17:27] mgreiler commented on #139
Cool. It's yours

[2022-10-03 17:28] mgreiler commented on #138
Sure. If it's not too much on your plate. I assign you. Please let me know in case you won't have time to do it.

[2022-10-03 17:29] taylorcjohnson commented on #138
I understand, and I will let you know by end of the week if I think there will be an issue so you could open it up to another contributor.

[2022-10-03 17:43] mgreiler opened #150 "Listen to an episode and check one of the transcripts for errors"
Please help improve one of the transcripts for this podcast.

You can pick any episode that you like that does not have an open and assigned ticket.

- Before starting to work on a transcript, please open an issue with the Episode number, so that I can assign you and we do not have two people working on the same issue (merge conflicts, duplication of work, etc.)
- To improve the transcript, please

[2022-10-04 06:24] Ishika414 commented on #149
I would like to work on this issue.Please assign it to me

[2022-10-04 11:38] adiati98 commented on #146
Hi @mgreiler,
May I take this issue?
Thank you 😊

[2022-10-05 07:15] mgreiler commented on #149
Hi, awesome! I've assigned you.

[2022-10-05 07:16] mgreiler commented on #146
Hi! Sure. Thank you.

[2022-10-05 07:17] mgreiler commented on #143
Hi @lordsonfernando! Are you still on it?

[2022-10-05 07:18] mgreiler commented on #129
Hi @elsie-dev, sorry for the late reply. Just saw your comment. Of course, you can edit it!

[2022-10-05 07:20] mgreiler opened #151 "Improve transcript EP 47 Scott Bryant"
Please help improve the transcript for this episode.

- You can either listen to the episode and improve the transcript based on what you hear.
- Another option is to read through the transcript and improve it purely based on the issues you detect when reading it.
- You do not have to improve the complete transcript. You can also only work on half of it.
- Every little help to make the podcast mor

[2022-10-05 07:40] ErebusXAbyss commented on #151
I would like to work on this issue

[2022-10-05 07:42] mgreiler commented on #151
Awesome!

[2022-10-05 16:54] weshy007 commented on #136
I'd like to be assigned to this issue

[2022-10-05 17:15] mgreiler commented on #136
Sure, thanks!

[2022-10-10 13:27] aashish-1904 commented on #135
Hello, I'd like to work on this issue

[2022-10-10 18:46] adiati98 commented on #146
Hi @mgreiler,
I have a question. Based on the guidelines, we can remove the filler words, as well as stutters.
The stutters here mean real stutters, or repeated words are included as stutters?

e.g.:
[code]

Thank you :)

[2022-10-11 12:44] adiati98 commented on #146
Thank you for your response, @mgreiler 😄
I'll work on it! 😊

[2022-10-11 22:35] adiati98 commented on #146
Hi @mgreiler,
I'm sorry for having another questions 😅

- Is the name of the host `Dr. McKayla` or `Dr. Michaela`? I only want to make sure, because seeing other closed PR, they are `Dr. McKayla`.
- Is `right` as in for example `What about manually, actually checking those, right?` included as filler words and may be removed?
- What do you want to have with change of thoughts? Do you want to use c

[2022-10-12 13:49] #138 closed

[2022-10-13 18:45] cychu42 commented on #131
Hello, I would like to work on this issue. Can you please assgin this to me?

[2022-10-13 18:51] mgreiler commented on #131
Sure! Thanks for the help.

[2022-10-13 19:36] mgreiler commented on #146
Dr. McKayla or Dr. Michaela, I’m fine with both. Unfortunately, there is no consistency yet.

 right and you know can be left in, or removed. You normally leave them in if they are not too often used. When those words become a distraction, you can remove them.

I prefer the comma. Thank you!

Thank you so much for your thoroughness! Great work!

[2022-10-14 22:02] adiati98 commented on #146
Thank you for being a great maintainer and responding to all my questions, @mgreiler 😊
I've pushed my changes and created PR. Please let me know if I need to fix anything.

[2022-10-15 14:11] #146 closed

[2022-10-19 03:38] ErebusXAbyss commented on #150
I would like to work this issue

[2022-10-19 03:39] ErebusXAbyss commented on #148
I would like to work on this issue too

[2022-10-19 03:42] ErebusXAbyss commented on #136
I would like to work on this issue

[2022-10-19 03:43] ErebusXAbyss commented on #135
I would like to work on this issue

[2022-10-19 06:25] mgreiler commented on #135
Sure! Awesome!

[2022-10-19 06:39] #131 closed

[2022-10-19 06:45] #137 closed

[2022-10-19 11:17] weshy007 opened #160 "Ep50 Do not measure developer productivity"
Working on grammer and lost in transcribing words

[2022-10-20 07:06] ErebusXAbyss commented on #135
@mgreiler Sure, I would like to work on episode 59.

[2022-10-22 06:56] ErebusXAbyss opened #162 "Improve Transcript of Ep.59 Paige Bailey"

[2022-10-22 06:57] ErebusXAbyss commented on #162
@mgreiler please assign me this issue

[2022-10-23 13:32] munish0838 commented on #160
i would like to work on this issue

[2022-10-25 04:06] munish0838 opened #166 "EP 64"
improving the transcript and correcting some grammar of ep 64

[2022-10-26 13:20] ErebusXAbyss commented on #162
please look at changes @mgreiler

[2022-10-26 13:51] mgreiler commented on #166
Thanks for a great contribution in #167

[2022-10-26 13:51] #166 closed

[2022-10-26 13:56] #148 closed

[2022-10-27 02:18] munish0838 opened #168 "Improve transcript of EP_57_Bekah_Weigel"

[2022-10-27 02:18] munish0838 commented on #168
I would like to work on this issue

[2022-10-30 05:43] #162 closed

[2022-10-30 05:44] mgreiler commented on #168
Fixed in #169

[2022-10-30 05:44] #168 closed

[2022-10-30 05:46] mgreiler commented on #147
Improved in #167

[2022-10-30 05:46] mgreiler commented on #160
Improved in #161

[2022-10-30 05:46] #160 closed

[2022-10-30 05:48] mgreiler commented on #135
Improved in #158

[2022-10-30 05:48] #135 closed

[2022-10-30 05:50] mgreiler commented on #149
This transcript still needs improvement. @Ishika414, are you continue to contribute to this issue? Thank you!

[2022-10-30 05:51] mgreiler commented on #151
Improved in #152

[2022-10-30 05:51] #151 closed

[2022-10-30 05:52] mgreiler commented on #143
Hi @lordsonfernando, I'm giving this free for another contributor! Thanks!

[2022-10-30 05:55] mgreiler commented on #139
Hey @taylorcjohnson, are you working on this one? Thanks so much for all the contributions so far. Amazing!

[2022-10-30 05:55] mgreiler commented on #136
Improved in #153

[2022-10-30 05:55] #136 closed

[2022-10-30 05:56] mgreiler commented on #132
Hi @Faruqt, are you still interested in contributing to this one?

[2022-10-30 05:57] #120 closed

[2022-10-30 05:58] mgreiler commented on #112
This one is open for improvement!

[2022-10-30 05:59] mgreiler commented on #147
Hey @Anshumansengar - are you still working on this? Thanks for the update!

[2022-10-30 06:07] mgreiler commented on #129
This one is open for improvement! A lot of low-hanging fruit ;-)

[2022-10-30 06:08] mgreiler commented on #140
This one is open for improvement!

[2022-10-30 06:09] mgreiler commented on #143
This one is open for contributions!

[2022-10-30 06:10] mgreiler commented on #132
This one is open for improvements!

[2022-10-30 14:49] Eakam1007 commented on #112
Hi, I would contribute to this

[2022-10-30 15:06] mgreiler commented on #112
Sure! Awesome 👏

[2022-10-30 18:57] AmasiaNalbandian commented on #149
Hi @mgreiler I can take more of this - thank you.

[2022-10-30 18:58] AmasiaNalbandian commented on #143
This one looks like a great listen - I'll take this one too. I'll have two of these up shortly. Thank you! :)

[2022-10-30 19:18] mgreiler commented on #149
Hi @AmasiaNalbandian sure! I’ll assign you! Thank you!

[2022-10-30 19:19] mgreiler commented on #143
Sounds great. Thanks for the help!

[2022-10-31 06:34] taylorcjohnson commented on #139
@mgreiler apologies for the delay - I was spreading out the work for these. PR is open: https://github.com/mgreiler/se-unlocked/pull/171

[2022-10-31 19:06] #112 closed

[2022-10-31 19:13] #139 closed

[2022-10-31 22:48] gregoris-io opened #174 "Spelling Errors in README.md & Transcription_Guidelines.md"
README.m -> 2 occurrences of the word 'epsiodes'
![image](https://user-images.githubusercontent.com/71711222/199123980-a0ce7096-8f1b-412d-b2af-38c30216c3b8.png)

Transcription_Guidelines.md -> 'completelt'
![image](https://user-images.githubusercontent.com/71711222/199124029-feeb9cb6-dfc0-4775-9078-7a92df3a7558.png)

[2022-11-01 07:55] #140 closed

[2022-11-01 07:56] #143 closed

[2022-11-12 07:55] #174 closed

[2022-11-12 07:55] mgreiler opened #178 "Improve transcript 8 Allision McMillion"
Please help improve the transcript for this episode.

BTW, the transcript has an intentional ~80-chars max line wrap (i.e., a new line starts after max 80 chars). Please keep it in that format. Thank you.

[2022-11-26 22:37] a-parris21 commented on #132
Hello, is this issue still open? I'd like to work on it.

[2022-11-27 01:24] a-parris21 commented on #132
Submitted a [PR](https://github.com/mgreiler/se-unlocked/pull/179) with some edits to the transcript file.